# WHANAU'S PEERSIM CONFIGURATION

random.seed 42
simulation.cycles 30
network.size 1000

# Initialize the protocols we are going to use
protocol.wha WhanauProtocol
protocol.syb WhanauSybilProtocol

# Controller used to inizialize the DHT
control.setup WhanauSetup
control.setup.init WhanauNodeInitializer
